.formContainer{
    background-color: rgb(36, 36, 223);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
     
}
input{
    height: 30px;
    width: 450px;
    border-radius: 8px;
    background-color: rgb(35, 43, 43);
    margin: 22px 0;
    font-size: 15px;
    padding-left:20px;
    color: rgb(212, 211, 208);
}
.addEmpBtn{
    width: 465px;
    height: 45px;
    background-color: green;
    color: black;
    border-radius: 12px;
    font-size: 22px;
}
.heading1{
text-align: center;    
font-size: 34px;
color: white;
}